

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #222;
    font-family: consolas;
    letter-spacing: 2px;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

a {
    text-decoration: none;
    background-color: #444;
    padding: .7rem 1.2rem;
    border-radius: 1rem;
    letter-spacing: 2px;
    box-shadow: 0 0 10px black;
    color: white;
}

input {
    outline: none;
    background-color: black;
    color: mediumseagreen;
    font-size: .9rem;
    font-weight: bold;
    letter-spacing: 2px;
    padding: .5rem;
    border: mediumseagreen solid 1px;
    margin: .5rem 0;
    box-shadow: 0 0 20px mediumseagreen;
}

section {
    margin: 1rem;
}

#imc-calculator .content {
    text-align: center;
    margin: 1rem;
    box-shadow: 0 0 20px black;
    background-image: linear-gradient(45deg #444, black);
    padding: 1rem;
}
